*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
    --grey: rgb(77,78,83);
    --light-grey: rgb(247,247,247);

    --fw-normal: 400;
    --fw-medium: 600;
    --fw-heavy: 700;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    scroll-behavior: smooth;
}
p, li{
    font-size: 1.8rem;
    color: var(--grey);
    font-weight: var(--fw-normal);
}
p{
    margin: 0 0 1.8rem 1rem;
}
li{
    margin: 0 0 1.8rem 6rem;
}
ul{
    margin-top: 1.8rem;
}
h1{
    font-size: 3.2rem;
    font-weight: var(--fw-heavy);
    margin: 1.8rem 2.5rem 1.8rem 2.5rem;
    white-space: nowrap;
}
h2{
    font-size: 3.2rem;
    font-weight: var(--fw-medium);
    margin-bottom: 2rem;
}
code{
    font-size: 1.2rem;
    font-weight: var(--fw-normal);
    line-height: 3rem;

}
#navbar{
    position: fixed;
    height: 100vh;
    border-right: 0.3rem solid var(--grey);
}
#navbar ul{
    list-style: none;
}
#navbar li{
    margin: 0;
    position: relative;
}
.nav-link{
    display: block;
    border-bottom: 0.1rem solid var(--grey);
    font-size: 2rem;
    font-weight: var(--fw-normal);
    padding: 1rem 0 1rem 2.5rem;
    text-decoration: none;
    color: var(--grey);
}
.nav-link:first-of-type{
    border-top: 0.1rem solid var(--grey);
}
.nav-link:last-of-type{
    border-bottom: none;
}
#main-doc{
    padding: 4rem;
    position: absolute;
    left: 30rem;
}
.main-section{
    margin-bottom: 2rem;
}
.background{
    background-color: var(--light-grey);
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    margin: 0 0 1.8rem 1.8rem;
}
@media(max-width: 769px){
    #navbar{
        position: absolute;
        width: 100%;
        border: none;
    }
    #navbar ul{
        overflow-y: auto;
        overflow-x: hidden;
        height: 30rem;
    }
    #main-doc{
        left: 0;
        top:37rem;
    }   
}
